.react-custom-select-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: fit-content;

  .custom-select-error-text {
    height: 15px;
    font-family: "Gilroy-Medium";
    font-size: 11px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #f03030;
    margin-left: 10px;
  }
}
