.App {
  /* text-align: center; 
  background-color: #282c34;
   font-size: calc(10px + 2vmin);*/

  min-height: 100vh;
  /*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  color: white; */
}

a {
  text-decoration: none;
}

.shift-left {
  margin-left: -10 px;
}
.shift-right {
  margin-right: -10 px;
}

.blk {
  display: block !important;
}
.cancel {
  text-decoration: line-through;
}
.warp {
  flex-wrap: wrap;
}
.upt {
  margin-top: -1rem !important;
}
.map {
  height: 80vh;
  width: 80vw;
  margin-left: 12.5rem;
}
.naira {
  height: 1.5rem !important;
  margin-left: -0.7rem !important;
  font-size: x-large !important;
}
.red-border {
  border: 1px solid red;
  font-size: 0.8rem;
  z-index: 100;
}
.smallerinput {
  font-size: 0.65rem !important;
}
.payment {
  background-color: rgb(133, 237, 133);
  color: white !important;
  width: fit-content;
}
.accordion__panel {
  padding: 0px !important;
}
.sz2 {
  width: 20% !important;
  border: none;
  border-color: transparent;
}
.showAction {
  cursor: pointer;
}

.v-centered {
  margin-top: 45% !important;
}
.active {
  text-decoration: underline !important;
}
.pushleft {
  margin-top: 0.5rem !important;
  margin-right: 0.5rem !important;
}
.z10 {
  z-index: 10 !important;
}
.navbar-end .navbar-item > a {
  color: white;
}
.bckcolor {
  background-color: lightblue !important;
}
.remPad {
  padding: 0rem !important;
}
.poslabel {
  margin-top: 0.6rem;
}
.remPadTop {
  padding-top: 1rem !important;
  padding-bottom: 0rem !important;
}
.remPad1 {
  padding: 1rem !important;
}
.btnheight {
  height: 1.2rem !important;
}
.accordion__button {
  padding: 0.2rem !important;
}
.dropitem {
  padding: 0.5rem !important;
}
.pullup {
  margin-top: -1rem;
  cursor: pointer;
}
.pullupx {
  margin-top: -1.5rem;
  cursor: pointer;
}
.pullups {
  margin-top: -0.75rem;
}
.selectadd {
  height: 2em !important;
  font-size: 0.75rem !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.redu {
  font-size: 0.75rem !important;
}
.wt100 {
  width: 100%;
}
.card-overflow {
  overflow: visible !important;
}
.card-content form input {
  margin-bottom: 1rem;
}
.vscrollable {
  overflow-y: auto !important;
  max-height: 80vh; /* 550px */
}
.vscrollNote {
  overflow-y: auto !important;
  max-height: 77vh; /* 550px */
}
.vht {
  height: 4em !important;
}
.vscrol {
  overflow-y: auto !important;
  max-height: 40vh; /* 550px */
}
.vscrola {
  overflow-y: auto !important;
  max-height: 70vh; /* 550px */
}
.vscrolar {
  overflow-y: auto !important;
  max-height: 30vh; /* 550px */
}
.vscrollable-acc {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 40vh; /* 550px */
}
.larger {
  width: 95% !important;
}
.modalbkgrnd {
  width: 90% !important;
}
.bckgrnd {
  background-color: black;
  color: white;
}

.sbut {
  height: 1rem !important;
  width: 1rem !important;
  font-size: xx-small !important;
}

.cardheight {
  max-height: 87vh !important;
  padding-bottom: 2rem;
}
.cardht80 {
  height: 80vh;
  margin-bottom: 3rem;
}
.modalcolor {
  background-color: lightblue !important;
}
.vscrollable-table {
  overflow-y: auto;
  max-height: 75vh;
}
.layout {
  display: flex;
  flex-direction: column;
}

.onTop {
  z-index: 50;
  position: absolute;
  background-color: lightslategray;
  cursor: pointer;
  margin-top: -12px;
  width: 200px;
}
.padleft {
  padding-left: 0.5rem;
}
.dropdown-item {
  padding-top: 0px !important;
  /*padding-bottom: 0px !important;
   margin-bottom: 0px; */
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .active{
  background-color: #282c34;
} */
.minHt {
  height: 1.5rem !important;
  min-height: 1.5rem !important;
  /*   margin-top: -10px !important; */
}
.signupcenter {
  margin-top: 5% !important;
}

.App-link {
  color: #61dafb;
}
input {
  margin-bottom: 0rem !important;
}
.sticky {
  position: fixed;
  /* top: 0;
  left: 0; */
  /*  width: 30%; */
  /* z-index:100 */
}
table tr {
  cursor: pointer !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mvUp {
  margin-top: 0px;
}
/* html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
} */
/* body::-webkit-scrollbar {
  width: 11px;
} */
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
/* body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
div::-webkit-scrollbar {
  width: 11px;
}
div {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
div::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
div::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
} */
.docdate {
  width: 4rem;
  margin-right: 0.75rem;
}
.hovercard {
  cursor: pointer;
}
.linechart2 {
  min-height: 130px !important;
}

/* remove scrollbar button*/
*::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.date-box {
  position: relative;
  height: 2.2rem;
  width: 100%;
  margin: 0.5rem 0;
  text-align: left;
}

/* .MuiInputLabel-root {
  font-size: 0.75rem !important;
} */
