body {
  /*  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
     font-size: 1em !important;
     background-color: #3298dc !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: #000000;
  font-weight: 400;
  line-height: 1.5 !important;
  font-size: 0.7rem !important;
}
/* .input {
  height: 2em !important;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */
.startbutton {
  display: none !important ;
}
html {
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: hidden !important;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 1024px) {
  html {
    overflow-y: auto !important;
    overflow-x: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .startbutton {
    display: block !important;
    margin: auto;
  }
}

.date-picker {
  box-sizing: border-box !important;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #b6b6b6;
  width: "100%" !important;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  height: 2.15rem !important;
}

.chat-message-highlight-search {
  background-color: black !important;
  padding: 3px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}
/* .MuiDrawer-paper {
  top: 5rem !important;
  padding: 0.5rem !important;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%) !important;
} */
